/* Your custom styles */

/*data-table*/
.data-table-custom .selected {
    background: #a1b0bf;
}

.data-table-custom .btn-custom {
    padding: 5px 5.5px 5px 5px;
    margin: 0px;
    width: 30px;
}

.data-table-custom tbody tr td:last-child {
    text-align: center;
}
/*data-table*/

.data-table-custom tbody tr:hover{
    cursor: pointer;
}




/*base-content area*/
