/* Your custom styles */

/*data-table*/
.data-table-custom .selected {
    background: #a1b0bf;
}

.data-table-custom .btn-custom {
    padding: 5px 5.5px 5px 5px;
    margin: 0px;
    width: 30px;
}

#big_stats .stat .value {
    font-size: 45px !important;
    font-weight: bold !important;
    color: #545454 !important;
    line-height: 1em !important;
}

#big_stats i {
    font-size: 30px;
    display: block;
    line-height: 40px;
    color: #ff6f00;
}

#big_stats .stat:hover i {
    color: #ff6f00;
}

#big_stats {
    width: 100% !important;
    display: table !important;
    margin-top: 1.5em !important;
}
.stat {
    width: 25% !important;
    height: 90px !important;
    text-align: center !important;
    display: table-cell !important;
    padding: 0 !important;
    position: relative !important;
    border-right: 1px solid #CCC !important;

}

#big_stats .stat:last-child {
    border-right: none !important;
}

.data-table-custom tbody tr td:last-child {
    text-align: center;
    width: 150px;
}

/*TODO add pointer cursor to table rows*/
/*!data-table*/

/*form-errors area*/
.form-error ul {
    list-style: none;
    padding-left: unset;
    margin-bottom: 0;
}


.logo-main {
    height: 20%;
    margin-left: 40%;
    margin-bottom: 3%;
    width: 21%;
}

.form-error ul li span {
    font-weight: bold;
}

.has-error i {
    color: #ff3547 !important;
}

.has-error input {
    border-bottom: 1px solid #F44336 !important;
}

.has-error label {
    color: #ff3547;
}

.has-error input::placeholder {
    color: #ff3547;
}

.file-upload {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

.file-upload label {
    display: block;
    padding: 0.5em 1em;
    color: #fff;
    background: cornflowerblue;
    border-radius: 0em;
    transition: background .3s;
}

.file-upload label:hover {
    cursor: pointer;
    background: cornflowerblue;
    opacity: 0.8;
}

.file-upload input:hover {
    cursor: pointer;
}

.file-upload input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}

/*Dashboard*/

.content-scroller{
    overflow-y: scroll !important;
    display: block !important;
    height: 28vh !important;
}

.gold{
    background-color: #FCB812 !important;
}

/*!form-errors area*/

/*timetable form*/
.mdb-select.select-wrapper {
    margin-left: 50px;
}

/*!timetable form*/